<div id="shortened">
  <div id="url">
	  <small><%= @url.url %></small>
	</div>
	<div>
	  <p><strong>Shortened URL</strong></p>
		<button class="btn" data-clipboard-target="#link">
		  <img src="<%= Routes.static_path(@conn, "/images/copy.png") %>" alt="Copy to Clipboard" />
		</button>
		<span id="link"><%= link "#{Routes.shortener_url(@conn, :index)}#{@url.code}", to: Routes.shortener_path(@conn, :redir, @url.code) %></span>
	</div>
</div>
